@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Merriweather:ital,wght@0,300;0,400;0,900;1,900&family=Mulish:ital,wght@0,400;0,800;1,400&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
* {
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-family: "Mulish", sans-serif;
}
/* universal */
.orange-text {
  color: #ff5400;
}
hr {
  background: rgba(19, 19, 24, 0.1);
  width: 100%;
  height: 1px;
  margin: 50px auto;
}
.primary-btn {
  border-radius: 8px;
  background: #ff5400;
  text-align: center;
  border: none;
  padding: 1rem 1.8rem;
  color: #fff;
  font-size: 1rem;
}
.header {
  padding: 0px 135px;
  margin-bottom: 100px;
}
/* navbar starts here */
.navbar {
  display: flex;
  align-items: center;
  margin-top: 52px;
}
.logo {
  width: 50%;
  display: flex;
  align-items: center;
  color: #131318;
  font-family: Mulish;
  font-size: 2rem;
  font-weight: 800;
}

.menu {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu > li {
  list-style: none;
  color: var(--Dark-02, #424247);
  font-size: 1rem;
  font-weight: 400;
}
.hamburger {
  display: none;
}
.hamburger img {
  cursor: pointer;
}
/* banner starts here */
.banner {
  position: relative;
  height: 400px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
  max-width: 596px;
  margin-bottom: 24px;
}
.banner > p {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  max-width: 676px;
  margin-bottom: 48px;
  text-align: center;
}
.select-location {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
}
.select-location input {
  padding: 1rem;
  border-radius: 8px;
  border: none;
}
/* main section starts here */
.main {
  padding: 0px 135px;
}
/* popular-tour section */
.popular-tour {
  display: flex;
  margin-bottom: 100px;
}
.popular-tour-description {
  width: 50%;
}
.popular-tour-description h2 {
  color: #131318;
  font-size: 2rem;
  font-weight: 800;
}
.popular-tour-description p,
li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 24px;
}
.popular-tour-description li {
  max-width: 90%;
}
.popular-tour-description button {
  margin-top: 24px;
}
/* .popular-tour-image{
  /* width: calc(50% - 100px); */
  margin-right: 20px;
} */
/* choose destination starts here */

.choose-destination {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.choose-destination h2 {
  color: #131318;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.choose-destination p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  max-width: 643px;
  margin-bottom: 24px;
}
.destination-img {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  gap: 10px;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.img-container {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.img-container:hover .img-overlay {
  opacity: 1;
}

.country-images img {
  border-radius: 16px;

  width: 100%;
  height: auto;
  display: block;
}

/* why-choose-us starts here */
.why-choose-us {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-choose-us h1 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}
.why-choose-us > p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  width: 50%;
  margin: 24px auto;
  text-align: center;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.card-row-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}
.card-row-2 {
  width: 50%;
  align-items: center;
}
.card-1,
.card-3 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 32px 32px;
}
.card-2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 32px 32px;
}
.card-title {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 24px auto;
}
.card-description {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
}
/* perfect-place starts here  */
.perfect-place {
  display: flex;
  margin-bottom: 100px;
  gap: 20px;
}
.perfect-place-description {
  width: 50%;
}
.perfect-place-description > h1 {
  max-width: 80%;
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}
.perfect-place-description p {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  max-width: 90%;
  margin: 20px auto;
}
.perfect-place-description li {
  color: #131318;
  font-size: 1rem;
  font-weight: 700;
  max-width: 100%;
}
.perfect-place-description button {
  margin: 20px;
}

.perfect-place-image {
  border-radius: 16px;
  background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0) 100%),
    url(Images/Group\ 40089.png);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.perfect-place-image h6 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 276px;
  text-align: center;
}
good-stuff starts here .good-stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Newsletter starts here  */
.newsletter {
  display: flex;
  gap: 24px;
  margin-bottom: 100px;
}
.newsletter-from {
  display: flex;
  width: 40%;
  height: fit-content;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
}
.newsletter-from h2 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: ;
}
.newsletter-from p {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
}
.newsletter-from > input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  padding: 16px;
  border: none;
  column-gap: 20px;
}
.newsletter-from hr {
  margin: 20px auto;
}
.newsletter-image {
  width: 60%;
  position: relative;
}

.offer p {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.offer h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
}
.offer {
  border-radius: 16px;
  background: #ff5400;
  width: 50%;
  padding: 15px 5px;
  transform: rotate(-19.628deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 13%;
  right: -7%;
}

/* footer starts here */
.footer {
  width: 100%;
  padding: 60px;
  background: rgba(19, 19, 24, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  display: flex;
  align-items: center;
  margin: 15px;
}
.footer p {
  max-width: 600px;
  text-align: center;
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  margin: 10px auto;
}
.footer .footer-icons i {
  margin: 15px;
}
.footer .copyright {
  color: #131318;
  font-family: Inter;
  font-size: 0.6rem;
  font-weight: 300;
}
